.accordion-header {
    display: grid;
    grid-template-columns: 5fr 4fr 5fr 7fr 7fr 2fr 2rem 0.75rem;
    grid-template-rows: auto;
    padding: 0 0 0.5rem;
    position: relative;
}

.opacity-overlay {
    display: none;
}

.opacity-overlay.show-overlay {
    opacity: 0.8;
    position: absolute;
    height: calc(100% + 0.5rem);
    width: 84%;
    display: flex;
    top: -0.5rem;
    background: repeating-linear-gradient(135deg, #e5e5e5, #e5e5e5 5%, #ccc 6%, #e5e5e5 6%);
}

.acc-header-content {
    grid-column: 1/7;
}

.accordion-body {
    background-color: #fff;
    padding: 0.5rem 0;
}

.accordion-body.hidden {
    opacity: 0.2;
}

.accordion-body.collapsed {
    display: none;
}

.btn.btn-secondary.accordion-btn {
    padding: 0.35rem 0.25rem;
    grid-column: 7/7;
    justify-self: center;
    display: flex
}

span.arrow-btn {
    all: unset;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1rem;
    height: 1rem;
    border: 0;
    border-radius: 0.125rem;
    display: grid;
    place-content: center;
  }
  
  span.arrow-btn.down::before {
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    transform: scale(1);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 0.875rem 0.875rem var(--btn-primary-bg-color);
    clip-path: polygon(-30% 0%, -50% -5%, 50% 100%, 150% -5%, 130% 0%, 50% 85%);
    /* Windows high contrast mode */
    background-color: CanvasText; 
  }

  span.arrow-btn.up::before {
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    transform: scale(1);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 0.875rem 0.875rem var(--btn-primary-bg-color);
    clip-path: polygon(-50% 95%, -30% 100%, 50% 15%, 130% 100%, 150% 95%, 50% 0%);
    /* Windows high contrast mode */
    background-color: CanvasText; 
  }