.icon-menu {
  position: relative;
}
.btn-secondary.icon-menu-button {
  padding: 0 0.25rem 0.3125rem;
}
.icon-menu-dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 12rem;
  position: absolute;
  right: 0;
  top: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 4px #ccc;
  z-index: 1000;
  padding: 0.5rem 0;
  list-style: none;
}
.menu-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-menu-dropdown.collapsed {
  display: none;
}
.icon-menu-dropdown li {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
  padding: 0.3125rem 1rem 0.3125rem 1.5rem;
  white-space: nowrap;
}

.icon-menu-dropdown li:hover {
  background-color: var(--btn-secondary-bg-color);
}

.icon-menu-dropdown li span {
  margin-inline-end: 0.5rem;
}

.menu-item-wrapper .check-icon {
  position: absolute;
  left: 0.25rem;
  z-index: 1000;
}

.check-icon::before {
  --btn-primary-bg-color: var(--accent-color);
}

.button-wrapper {
  align-items: center;
}

button.btn-secondary.btn-icon-menu {
  background-color: transparent;
  margin-right: 0.25rem;
}

button.btn-secondary.btn-icon-menu:hover,
button.btn-secondary.btn-icon-menu:focus {
  border-color: transparent;
  background-color: var(--btn-secondary-bg-color);
  filter: none;
}

button.btn-secondary.btn-icon-menu.delete-group {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  display: flex;
}

button.btn-secondary.btn-icon-menu.clear-group {
  display: flex;
  padding: 0.25rem 0.625rem 0.25rem 0.5rem;
}
