:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --error-color: #b8151c;
  --btn-delete-font-color: var(--error-color);
  --btn-primary-bg-color: #222;
  --btn-primary-font-color: #fff;
  --btn-secondary-bg-color: #f3f3f3;
  --accent-color: #4e97fe;
}

#root {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  font-size: 1rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

input,
textarea,
select {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.25rem;
  border: none;
}

input {
  height: 1.5rem;
  font-size: 1rem;
  width: 100%;
}

textarea {
  width: 100%;
  min-height: 4.5em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: none;
}

.input-decoration {
  display: flex;
  align-items: start;
  justify-content: flex-end;
  border-bottom: 2px solid #d7d6d6;
  border-radius: 0.25rem;
  background-color: #fff;
  margin-right: 0.25rem;
}

.input-decoration:has(textarea) {
  width: 100%;
}

.input-decoration:has(select:focus),
.input-decoration:has(textarea:focus),
.input-decoration:has(input:focus) {
  border-color: var(--accent-color);
}

input[type="checkbox"] {
  all: unset;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid currentColor;
  border-radius: 0.125rem;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.check-icon {
  width: 1rem;
  height: 1rem;
  position: relative;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before,
.check-icon::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 0.875rem 0.875rem var(--btn-primary-bg-color);
  transform-origin: bottom left;
  clip-path: polygon(20% 44%, 0% 65%, 42% 105%, 105% 0%, 65% 20%, 43% 65%);
  /* Windows high contrast mode */
  background-color: CanvasText;
}

input[type="checkbox"]:focus {
  outline: 0.125rem solid var(--btn-primary-bg-color);
  outline-offset: 0.125rem;
}

input[type="checkbox"]:checked::before,
.check-icon::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  cursor: not-allowed;
  filter: opacity(40%);
}

button.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  font-weight: 500;
  height: fit-content;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  background-color: var(--btn-primary-bg-color);
  color: var(--btn-primary-font-color);
  text-transform: uppercase;
  transition: all 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button.btn:hover,
button.btn:focus {
  filter: opacity(70%);
}

button.btn:focus {
  outline: 2px solid #fff;
  outline-offset: -0.25rem;
}

button.btn:active {
  box-shadow: inset 0 0 0.25rem var(--btn-primary-font-color);
}

button.btn-secondary {
  background-color: var(--btn-secondary-bg-color);
  color: var(--btn-primary-bg-color);
}

button.btn-secondary:hover,
button.btn-secondary:focus {
  border-color: var(--btn-primary-bg-color);
}

button.btn-secondary:active {
  box-shadow: inset 0 0 0 0.25rem var(--btn-primary-bg-color);
}

button.btn-delete {
  background-color: var(--btn-secondary-bg-color);
  color: var(--btn-delete-font-color);
}

button.btn-delete:hover,
button.btn-delete:focus {
  border-color: var(--btn-delete-font-color);
}

button.btn.btn-delete:active {
  box-shadow: inset 0 0 0.25rem var(--btn-delete-font-color);
}

button.btn:disabled {
  cursor: not-allowed;
  filter: opacity(40%);
  transition: none;
}

button.btn:disabled:hover,
button.btn:disabled:focus {
  border-color: transparent;
}

.btn.btn-secondary.duplicate-bg-layer-btn {
  padding: 0.3125rem 0.5rem 0.5rem;
  margin-bottom: 0.25rem;
}

.duplicate-bg-layer-btn .copy-icon {
  width: 0.5rem;
  height: 0.5rem;
  border: 2px solid #222;
  border-radius: 2px;
  position: relative;
}

.duplicate-bg-layer-btn .copy-icon::after {
  position: absolute;
  top: 0.125rem;
  left: -0.35rem;
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--btn-secondary-bg-color);
  border: 2px solid #222;
  border-radius: 2px;
}

.clear-icon {
  width: 0.5rem;
  height: 1rem;
  border: 0.125rem solid #222;
  border-radius: 15%;
  transform: rotate(40deg);
  background: linear-gradient(
    transparent 0 60%,
    var(--accent-color) 61% 70%,
    transparent 71%
  );
}
.clear-icon::before {
  content: "";
  position: absolute;
  left: 105%;
  top: 55%;
  height: 8%;
  background-color: var(--accent-color);
  border-radius: 15%;
  width: 170%;
  transform: rotate(139deg);
}
.clear-icon::after {
  content: "";
  position: absolute;
  left: 72%;
  top: 87%;
  width: 70%;
  height: 25%;
  transform: rotate(139deg);
  background-color: #222;
  border-color: #222;
  border-style: solid;
  border-width: 0 0 0.125rem 0;
  background-color: var(--btn-secondary-bg-color);
}

.folder-icon {
  display: block;
  margin: auto 0;
  width: 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  --icon-color: #222;
  background: linear-gradient(
        var(--icon-color) 18%,
        white 18.5% 81.5%,
        var(--icon-color) 82%
      )
      49% 100%/ 80% 60% no-repeat,
    linear-gradient(
        90deg,
        var(--icon-color) 20%,
        white 20.5% 79.5%,
        var(--icon-color) 80%
      )
      47% 100%/ 100% 60% no-repeat,
    linear-gradient(
        90deg,
        var(--icon-color) 20%,
        white 20.5% 79.5%,
        var(--icon-color) 80%
      )
      0% 57%/ 45% 57% no-repeat,
    linear-gradient(
        var(--icon-color) 18%,
        white 18.5% 81.5%,
        var(--icon-color) 82%
      )
      0% 63.25%/ 45% 75% no-repeat,
    linear-gradient(
        var(--icon-color) 14%,
        white 14.5% 81.5%,
        var(--icon-color) 82%
      )
      47% 100%/ 80% 77% no-repeat,
    linear-gradient(
        90deg,
        var(--icon-color) 11%,
        white 12% 79.5%,
        var(--icon-color) 80%
      )
      47% 100%/ 100% 77% no-repeat;
}

.no-groups-icon {
  margin: auto 0;
  width: 1.25rem;
  height: 1.25rem;
  background: linear-gradient(
        140deg,
        transparent 60%,
        #4e97fe 60.25% 70.5%,
        transparent 70.75%
      )
      0% 100%/ 100% 110% no-repeat,
    linear-gradient(#222 18%, white 18.5% 81.5%, #222 82%) 51% 100%/ 80% 60% no-repeat,
    linear-gradient(90deg, #222 20%, white 20.5% 79.5%, #222 80%) 47% 100%/ 100%
      60% no-repeat,
    linear-gradient(90deg, #222 20%, white 20.5% 79.5%, #222 80%) 0% 57%/ 45% 57%
      no-repeat,
    linear-gradient(#222 18%, white 18.5% 81.5%, #222 82%) 0% 63.25%/ 45% 75% no-repeat,
    linear-gradient(#222 14%, white 14.5% 81.5%, #222 82%) 47% 100%/ 80% 77% no-repeat,
    linear-gradient(90deg, #222 11%, white 12% 79.5%, #222 80%) 47% 100%/ 100% 77%
      no-repeat;
}

.move-to-folder-icon {
  display: block;
  margin: auto 0;
  width: 1.25rem;
  height: 1.25rem;
  background: linear-gradient(-135deg, transparent 49%, var(--accent-color) 50%)
      66% 64%/ 17% 17% no-repeat,
    linear-gradient(-45deg, transparent 49%, var(--accent-color) 50%) 66% 84%/ 17%
      17% no-repeat,
    linear-gradient(#fff 20%, var(--accent-color) 20.5% 79.5%, #fff 80%) 0% 75%/
      55% 19% no-repeat,
    linear-gradient(#222 18%, white 18.5% 81.5%, #222 82%) 49% 100%/ 80% 60% no-repeat,
    linear-gradient(90deg, #222 20%, white 20.5% 79.5%, #222 80%) 47% 100%/ 100%
      60% no-repeat,
    linear-gradient(90deg, #222 20%, white 20.5% 79.5%, #222 80%) 0% 57%/ 45% 57%
      no-repeat,
    linear-gradient(#222 18%, white 18.5% 81.5%, #222 82%) 0% 63.25%/ 45% 75% no-repeat,
    linear-gradient(#222 14%, white 14.5% 81.5%, #222 82%) 47% 100%/ 80% 77% no-repeat,
    linear-gradient(90deg, #222 11%, white 12% 79.5%, #222 80%) 47% 100%/ 100% 77%
      no-repeat;
}

.add-folder-icon {
  display: block;
  margin: auto 0;
  width: 1.25rem;
  height: 1.25rem;
  background: linear-gradient(
        90deg,
        transparent 20%,
        #fff 20.5% 79.5%,
        transparent 80%
      )
      78.5% 26%/ 13% 27% no-repeat,
    linear-gradient(transparent 20%, #fff 20.5% 79.5%, transparent 80%) 84% 30%/
      27% 12% no-repeat,
    radial-gradient(var(--accent-color) 49.5%, transparent 50%) 112.5% 8%/ 60% 60%
      no-repeat,
    linear-gradient(#222 18%, white 18.5% 81.5%, #222 82%) 51% 100%/ 80% 60% no-repeat,
    linear-gradient(90deg, #222 20%, white 20.5% 79.5%, #222 80%) 47% 100%/ 100%
      60% no-repeat,
    linear-gradient(90deg, #222 20%, white 20.5% 79.5%, #222 80%) 0% 57%/ 45% 57%
      no-repeat,
    linear-gradient(#222 18%, white 18.5% 81.5%, #222 82%) 0% 63.25%/ 45% 75% no-repeat,
    linear-gradient(#222 14%, white 14.5% 81.5%, #222 82%) 47% 100%/ 80% 77% no-repeat,
    linear-gradient(90deg, #222 11%, white 12% 79.5%, #222 80%) 47% 100%/ 100% 77%
      no-repeat;
}

.btn.btn-secondary.toggle-visibility-btn {
  padding: 0.3125rem 0.375rem;
  margin-bottom: 0.25rem;
  align-self: start;
}

.toggle-visibility-icon {
  grid-column: 3/3;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  border: 0.125rem solid #222;
  border-radius: 80% 0;
  transform: rotate(45deg);
}

.toggle-visibility-icon::before {
  content: "";
  position: absolute;
  justify-self: center;
  align-self: center;
  width: 50%;
  height: 50%;
  border: 0.125rem solid #222;
  border-radius: 50%;
}

.toggle-visibility-icon.hide::after {
  content: "";
  position: absolute;
  align-self: center;
  justify-self: center;
  width: 0.125rem;
  height: 170%;
  background-color: #222;
  transform: rotate(180deg);
}

.toggle-visibility-icon.show::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #222;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 820px) and (max-width: 1030px) {
  #root {
    font-size: 0.75rem;
  }
  input,
  textarea,
  select {
    font-size: 0.75rem;
  }
}
