.number-input-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    height: fit-content;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #eee;
}

.number-input-label {
    display: flex;
    flex-wrap: wrap;
    max-width: 35%;
    margin-right: 0.5rem;
    font-weight: 600;
}

.number-input-input-wrapper {
    display: flex;
    align-items: baseline;
    min-width: 7.5rem;
}

.number-input-input-wrapper input {
    width: 4rem;
}

.number-input-unit {
    display: flex;
}