.number-input {
    width: 3rem;
    margin-right: 0;
}

.number-input-unit {
    min-width: 2rem;
    grid-column: 6 / 7;
}


@media (min-width: 820px) and (max-width: 1030px) {
    .number-input {
        width: 2rem;
    }
}