.preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 75%;
    height: fit-content;
    background-color: #fff;
    border: 1px solid #eee;
}